.mainContainer {
    margin: 0;
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    background-color:  #00df7c;

    .header {
        width: 100%;
        height: 60px;
        padding: 20px;
        display: flex;
        max-width: 100%;
        background: #fff;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: space-between;

        .noStyledButton {
            padding: 0;
            border: none;
            cursor: pointer;
            background: transparent;

            .logo {
                width: 50px;
                height: 50px;
            }
        }
    }

    .bodyContainer {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .body {
            width: 60%;
            padding: 30px;
            max-height: 60vh;
            background: #fff;
            overflow-y: auto;
            border-radius: 15px;
        }
    }
}